[Unit]
Description=RaspberryLink Server
After=dbus-broker.service
After=bluetooth.service
After=ofono.service

[Service]
Type=simple
ExecStart=raspilink-server

[Install]
WantedBy=multi-user.target
