[Unit]
Description=RaspberryLink Bluetooth Audio Service
After=bluetooth.service
After=pulseaudio.service
After=ofono.service

[Service]
Type=simple
ExecStart=raspilink-audio

[Install]
WantedBy=multi-user.target
